<head>
<script src="https://kit.fontawesome.com/37671a0938.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/2985940ab4.js" crossorigin="anonymous"></script>
</head>
<p class="yazi">WhiskyDev Form Sitesi</p>
<br>
<div class="icons">
<span> <a href="https://github.com/whiskydev11"><i class="fa-brands fa-github fa-2x" style="color: #ffffff; padding-right: 10px;"></i></h1> </span> 
<span> <a href="https://instagram.com/whiskyflexx"><i class="fa-brands fa-instagram fa-2x" style="color: #ffffff; padding-right: 10px;"></i></h1> </span>
<span> <a href="https://whiskydev.xyz/"><i class="fa-solid fa-code fa-2x" style="color: #ffffff;"></i></h1> </span>
</div>
  
<style>
  @import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
  
  :root {
    background-color: #000000;
  }
  
  .yazi {
    font-family: "Hubballi", cursive;
    color: #ffffff;
    font-size: 65px;
    margin-top: 800px;
    text-align: center;
  }
  
  .icons {
    text-align: center;
    list-style: none;
    padding-right: 20px;
  }
</style>